<!doctype html>
<html>
<head>
     <title>GPIO with Flask!</title>
<style>

button{
	
}

.btn1 {background-color: #4CAF50;} /* Green */
.btn2 {background-color: #008CBA;} /* Blue */
.btn3 {background-color: #DA70D6;} /* Orchid */
.btn4 {background-color: #000090;} /* Navy */


</style>
</head>
<body>
{{msg}}
<form method="POST">
     <button type="submit" name="button1" class="button btn1" value="button1">led1 On</button>
     <button type="submit" name="button2" class="button btn2" value="button2">led1 Off</button>
     <button type="submit" name="button3" class="button btn3" value="button3">led2 On</button>
     <button type="submit" name="button4" class="button btn4" value="button4">led2 Off</button>

</form>
</body>
</html>
